# Maven

trigger:
  - master

pool:
  vmImage: 'macOS 10.14'

variables:
  ANDROID_EMU_NAME: test
  ANDROID_EMU_ABI: x86
  ANDROID_EMU_TARGET: android-28
  ANDROID_EMU_TAG: google_apis
  XCODE_VERSION: 10.2
  IOS_PLATFORM_VERSION: 12.2
  IOS_DEVICE_NAME: iPhone X
steps:

- task: SonarCloudPrepare@1
  displayName: 'Prepare SonarCloud analysis'
  inputs:
    SonarCloud: 'SonarCloud'
    organization: 'aqualityautomation'
    scannerMode: 'CLI'
    configMode: 'file'
    extraProperties: |
        sonar.coverage.exclusions=**/**

- task: Maven@3
  displayName: 'Compile project'
  inputs:
    mavenPomFile: 'pom.xml'
    goals: 'clean compile'
    publishJUnitResults: true
    testResultsFiles: '**/surefire-reports/TEST-*.xml'
    javaHomeOption: 'JDKVersion'
    mavenVersionOption: 'Default'
    mavenAuthenticateFeed: false
    effectivePomSkip: false
    sonarQubeRunAnalysis: false
  continueOnError: true

- task: SonarCloudAnalyze@1
  displayName: 'Run SonarCloud code analysis'
  continueOnError: true

- task: SonarCloudPublish@1
  displayName: 'Publish SonarCloud quality gate results'
  continueOnError: true

- task: NodeTool@0
  displayName: 'Install Node.js tool to setup Appium and emulators'
  inputs:
    versionSpec: '11.15.0'

- script: |
    echo "Configuring Environment"
    echo $JAVA_HOME
    ls /Library/Java/JavaVirtualMachines/

    ls $ANDROID_HOME/build-tools/
    export PATH=$PATH:$JAVA_HOME/bin

    echo export "ANDROID_HOME=\$ANDROID_HOME" >> ~/.bash_profile
    export PATH=$PATH:$ANDROID_HOME

    mvn -version
    echo $ANDROID_HOME
    echo $JAVA_HOME
    echo $PATH

    echo "y" | $ANDROID_HOME/tools/bin/sdkmanager --install 'system-images;$(ANDROID_EMU_TARGET);$(ANDROID_EMU_TAG);$(ANDROID_EMU_ABI)'
    echo "no" | $ANDROID_HOME/tools/bin/avdmanager create avd -n "$(ANDROID_EMU_NAME)" -k 'system-images;$(ANDROID_EMU_TARGET);$(ANDROID_EMU_TAG);$(ANDROID_EMU_ABI)' --force
    echo $ANDROID_HOME/emulator/emulator -list-avds

    echo "Starting emulator"
    nohup $ANDROID_HOME/emulator/emulator -avd "$(ANDROID_EMU_NAME)" -no-snapshot > /dev/null 2>&1 &
    $ANDROID_HOME/platform-tools/adb wait-for-device
    while [[ $? -ne 0 ]]; do sleep 1; $ANDROID_HOME/platform-tools/adb shell pm list packages; done;
    $ANDROID_HOME/platform-tools/adb devices
    echo "Emulator started"


    echo "Installing Appium"
    node --version

    npm list --depth 0
    npm install -g appium@v1.17.0-rc.1
    # --chromedriver-skip-install
    ln -fs /usr/local/lib/node_modules/appium/build/lib/main.js /usr/local/bin/appium
    chmod +x /usr/local/bin/appium
    export PATH=$PATH:/usr/local/bin/appium

    echo "Installing and Running Appium doctor"
    npm install -g appium-doctor
    ln -fs /usr/local/lib/node_modules/appium-doctor/appium-doctor.js /usr/local/bin/appium-doctor
    chmod +x /usr/local/bin/appium-doctor
    export PATH=$PATH:/usr/local/bin/appium-doctor

    npm list --depth 0

    appium --version
    appium-doctor

    #sudo xcode-select -s /Applications/Xcode_$(XCODE_VERSION).app/Contents/Developer
    #xcrun simctl list

    #appium --allow-insecure chromedriver_autodownload &
    #echo "Appium server started"

- task: Maven@3
  displayName: 'Run tests'
  inputs:
    mavenPomFile: 'pom.xml'
    goals: 'test'
    publishJUnitResults: true
    testResultsFiles: '**/surefire-reports/TEST-*.xml'
    javaHomeOption: 'JDKVersion'
    mavenVersionOption: 'Default'
    mavenAuthenticateFeed: false
    effectivePomSkip: false
    sonarQubeRunAnalysis: false
  continueOnError: true

- task: CopyFiles@2
  displayName: 'Copy failure screenshots and test logs'
  inputs:
    SourceFolder: '$(Build.SourcesDirectory)/target'
    Contents: |
        surefire-reports/failure_screenshots/*.png
        log/*.log
    TargetFolder: '$(Build.ArtifactStagingDirectory)'

- task: PublishBuildArtifacts@1
  displayName: 'Publish copied artifacts'
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)'
    ArtifactName: 'drop'
    publishLocation: 'Container'